In [2]:
import pandas as pd
import numpy as np
import time 
import os

import matplotlib.pyplot as plt
import seaborn as sns

from IPython.display import display
pd.options.display.max_columns = 50

메인으로 사용하고 있는 교육과정평가원은 학생 배경 정보에 대해, 2020년도 수능을 본 고3 학생들의 입학년도인 2017년 데이터를 사용했다고 밝혔다. 
<br>=>그러나 학교알리미에서 제공하는 학교기본정보 데이터셋은 2018년 부터 존재함. 하지만 1년 사이에 학교 수가 많이 달라지지 않았다면 전체적 경향성 분석에 큰 영향을 미치지는 않을 것이다. 먼저 2018년과 2020년 자료를 비교해보자
<br> => 2018년에 전국 고등학교 2360개, 2020년에 2366개로 2년 사이에도 5개 차이. 이 정도면 2017->2018년에도 고등학교 수에 큰 차이 나지 않았을 듯하다. 2017년 대신 2018년 자료를 쓰자.

In [36]:
raw_2020 = pd.read_csv("./coed_grade/2020년도_학교기본정보.csv")
print(raw_2020.shape)
raw_2020.head(1)

(2366, 26)

,시도교육청,지역교육청,지역,정보공시 학교코드,학교명,학교급코드,설립구분,학교특성,분교여부,설립유형,주야구분,개교기념일,설립일,법정동코드,주소내역,상세주소내역,우편번호,학교도로명 우편번호,학교도로명 주소,학교도로명 상세주소,위도,경도,전화번호,팩스번호,홈페이지 주소,남녀공학 구분
0,서울특별시교육청,교육부,서울특별시 강남구,S000003540,국립국악고등학교,4,국립,특수목적고등학교,N,단설,주간,19720909,19720711,1168010300,서울특별시 강남구 개포동,1272번지.,135962,06311,서울특별시 강남구 개포로22길 65,", (개포동, 국립국악고등학교)",37.47623,127.051476,02-3460-0500,02-3460-0555,http://gugak.sen.hs.kr,남녀공학

In [122]:
raw_2020['학교급코드'].unique()

array([4], dtype=int64)

In [4]:
raw = pd.read_csv('./coed_grade/2018년도_학교기본정보.csv')
raw.shape

(2360, 26)

In [38]:
raw.columns

Index(['시도교육청', '지역교육청', '지역', '정보공시 학교코드', '학교명', '학교급코드', '설립구분', '학교특성',
       '분교여부', '설립유형', '주야구분', '개교기념일', '설립일', '법정동코드', '주소내역', '상세주소내역',
       '우편번호', '학교도로명 우편번호', '학교도로명 주소', '학교도로명 상세주소', '위도', '경도', '전화번호',
       '팩스번호', '홈페이지 주소', '남녀공학 구분'],
      dtype='object')

In [39]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2360 entries, 0 to 2359
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시도교육청       2360 non-null   object
 1   지역교육청       2360 non-null   object
 2   지역          2360 non-null   object
 3   정보공시 학교코드   2360 non-null   object
 4   학교명         2360 non-null   object
 5   학교급코드       2360 non-null   int64
 6   설립구분        2360 non-null   object
 7   학교특성        2360 non-null   object
 8   분교여부        2360 non-null   object
 9   설립유형        2360 non-null   object
 10  주야구분        2360 non-null   object
 11  개교기념일       2360 non-null   int64
 12  설립일         2360 non-null   int64
 13  법정동코드       2360 non-null   int64
 14  주소내역        2360 non-null   object
 15  상세주소내역      2360 non-null   object
 16  우편번호        2318 non-null   object
 17  학교도로명 우편번호  2360 non-null   object
 18  학교도로명 주소    2360 non-null   object
 19  학교도로명 상세주소  2359 non-null   object
 20  위도          2360 non-null   float64
 21  경도          2360 non-null   float64
 22  전화번호        2360 non-null   object
 23  팩스번호        2360 non-null   object
 24  홈페이지 주소     2358 non-null   object
 25  남녀공학 구분     2360 non-null   object
dtypes: float64(2), int64(4), object(20)
memory usage: 479.5+ KB

 일단 카테고리 변수에 대해 파악을 하자. 
 - `설립구분`이랑 `설립유형`은 어떻게 다른지?
 - 지역 구분은 몇 개로 되어있는지?
 - 고등학교도 주간이 아닌 경우도 있나?

In [40]:
categorical_vars = ['시도교육청','지역교육청','설립구분','학교특성','분교여부','설립유형','주야구분','남녀공학 구분']

for var in categorical_vars:
    print(var)
    print(raw[var].unique())

시도교육청
['서울특별시교육청' '부산광역시교육청' '대구광역시교육청' '인천광역시교육청' '광주광역시교육청' '대전광역시교육청'
 '울산광역시교육청' '세종특별자치시교육청' '경기도교육청' '강원도교육청' '충청북도교육청' '충청남도교육청' '전라북도교육청'
 '전라남도교육청' '경상북도교육청' '경상남도교육청' '제주특별자치도교육청']
지역교육청
['교육부' '서울특별시교육청' '부산광역시교육청' '대구광역시교육청' '인천광역시교육청' '광주광역시교육청' '대전광역시교육청'
 '울산광역시교육청' '세종특별자치시교육청' '경기도교육청' '강원도교육청' '충청북도교육청' '충청남도교육청' '전라북도교육청'
 '전라남도교육청' '경상북도교육청' '경상남도교육청' '제주특별자치도교육청']
설립구분
['국립' '공립' '사립']
학교특성
['특수목적고등학교' '일반고등학교' '자율고등학교' '특성화고등학교']
분교여부
['N']
설립유형
['단설' '부설' '부속' '병설']
주야구분
['주간' '주야간']
남녀공학 구분
['남녀공학' '남' '녀']

설립구분은 흔히 말하는 사립 / 국공립 구분이고
<br>설립유형은 \~~학교 부설 고등학교 같은 것들. 정확한 구분은 찾아보자. 병설 부설 듣기는 했어도 구체적인 차이는 몰랐네.

관련해서 누군가 국민신문고에 질문을 했고, 이에 대한 교육과학기술부의 답변.

"귀하께서 언급하신 바와 같이 행정기관의 조직과 정원에 관한 통칙 제2조에는 "부속기관"을 행정권의 직접적인 행사를 임무로 하는 기관에 부속하여 그 기관을 지원하는 행정기관으로 정의하고 있습니다.
그러나, 고등교육법, 국립학교 설치령 등에는 부속시설, 부설학교 등 표현을 조금씩 다르게 쓰고 있는 경우도 있습니다.
귀하께서도 아시다시피 통상적으로 `부속이라 함은 딸려서 붙은 형태를 말하고, 부설은 부속하여 설치된 것을 말합니다.`
법령마다 용어의 사용에 일부 차이가 있기는 하지만 `통상적으로 기관이나 시설앞에는 부속`을, `학교앞에는 부설을 사용하는 것이 일반적`으로 보입니다.(고등교육법 등 교육관련 법령은 통상적으로 학교 설립과 관련한 표현을 부설로 씀)
즉 부설학교는 기관에 부속하여 그 기관을 지원하는 역할이라기 보다는 설립상으로 딸려서 붙어있는 형태이므로 부설이라는 표현을 쓰는 것으로 판단됩니다."

=> 결론: 부설과 부속은 의미상 같다.

그럼 단설과 병설 차이는? 고등학교는 병설이 거의 없는 것 같고, 유치원 중 병설이 많은데 그 차이에 대한 질문과 부산광역시교육청의 답변

- 단설유치원 : 단독, 독립적으로 운영되는 유치원 -> 별도 원장 배치 
- 병설유치원 : 병설된 학교의 인적, 물적, 자원을 공유하며 유아교육법 제9조(유치원의 병설)에 의거 초.중등교육법 제2조(학교의 종류)에 해당하는 학교에 병설되는 유치원-> 초등학교의 장이 원장 겸임

유치원의 경우 규모가 작아서 옆의 초중고 부지의 일부에 같이 설립되어 있는 경우가 많은듯. 고등학교는?

### 1. 단성/공학 고등학교의 설립 주체 구분

In [153]:
used_cols = ['정보공시 학교코드','학교명','학교특성', '설립구분','학교특성','설립유형','남녀공학 구분']

found_subj = raw[used_cols]

found_subj.groupby(['설립구분','남녀공학 구분'])['학교명'].count()

설립구분  남녀공학 구분
공립    남           167
      남녀공학       1079
      녀           149
국립    남             1
      남녀공학         17
사립    남           235
      남녀공학        437
      녀           275
Name: 학교명, dtype: int64

### 2. 단성/공학 고등학교의 지역 규모
이건 대도시/중소도시/읍면 지역의 구분이 무엇인지를 먼저 알아내야 한다.
언뜻 생각했을 때는 특별시, 광역시를 대도시라고 했나 봤는데 값이 좀 다르다. 근데 이 구분은 어디에서도 찾을 수가 없네..
- 특별시+광역시: 671
- 대도시: 640

교육통계서비스에서 제공하는 지역규모별 학생수 데이터 설명을 보니, 
- 시: 특별/광역시를 제외한 모든 시지역 
- 행정구분이 중복되는 경우 해당 기관 주소의 가장 하부 행정단위로 지역을 구분. <br>예) xx시 oo읍 -> 읍지역, oo광역시 xx면 -> 면지역

한다고 되어있다.

읍면지역까지 확인하려면 상세 주소를 보는 수밖에 없는 건가.

In [168]:
raw[['지역','주소내역']].sample(15)

                  지역                주소내역
2004        경상북도 경산시    경상북도 경산시 하양읍 도리리
2197  경상남도 창원시 마산합포구  경상남도 창원시 마산합포구 신월동
242       서울특별시 동대문구      서울특별시 동대문구 제기동
1381         강원도 철원군      강원도 철원군 서면 와수리
54         서울특별시 서초구       서울특별시 서초구 방배동
959          경기도 파주시     경기도 파주시 파주읍 봉서리
887      경기도 수원시 권선구     경기도 수원시 권선구 당수동
1329         경기도 화성시         경기도 화성시 반송동
986          경기도 김포시         경기도 김포시 사우동
2173        경상남도 김해시        경상남도 김해시 대성동
1039        경기도 동두천시        경기도 동두천시 안흥동
2171        경상남도 김해시        경상남도 김해시 삼정동
891         경기도 의정부시        경기도 의정부시 가능동
178        서울특별시 강남구       서울특별시 강남구 자곡동
1551    충청북도 청주시 흥덕구    충청북도 청주시 흥덕구 복대동

지역은 시, 군, 구까지, 주소내역은 동, 읍, 면, 리, 가(거리) 까지 보여준다. 읍면지역인지 판단하려면 '주소내역'을 보자.

In [10]:
# 지역 규모 필드를 만들어보자

raw['address_split'] = raw['주소내역'].apply(lambda x: x.split())

# 먼저 광역시는 대도시로 바꿔주자. 주소내역에서 마지막 단위의 마지막 글자를 보자. 읍면리로 끝나면 읍면지역 나머지는 시. 
large_city = ['서울특별시','부산광역시','대구광역시','인천광역시','광주광역시','대전광역시','울산광역시']
raw['region_scale'] = raw['address_split'].apply(lambda x: '대도시' if x[0] in large_city else ('읍면 지역' if x[-1][-1] in ['읍','면','리'] else '시'))

# raw[raw['region_scale']=='읍면'][['region_scale','address_split','지역']]
raw['region_scale'].value_counts()

시        867
대도시      865
읍면 지역    628
Name: region_scale, dtype: int64

In [11]:
raw.groupby(['region_scale','남녀공학 구분'])['정보공시 학교코드'].count()

region_scale  남녀공학 구분
대도시           남          214
              남녀공학       439
              녀          212
시             남          149
              남녀공학       558
              녀          160
읍면 지역         남           40
              남녀공학       536
              녀           52
Name: 정보공시 학교코드, dtype: int64

### 3. 단성/공학 고등학교의 행정구역별 구분

In [12]:
used_cols_locale = ['정보공시 학교코드','학교명','지역','남녀공학 구분']

locale = raw[used_cols_locale]
display(locale.groupby(['지역','남녀공학 구분']).count())

                      정보공시 학교코드  학교명
지역           남녀공학 구분
강원도 강릉시      남                4    4
             남녀공학             5    5
             녀                2    2
강원도 고성군      남녀공학             5    5
강원도 동해시      남                1    1
...                         ...  ...
충청북도 청주시 흥덕구 남                1    1
             남녀공학            10   10
충청북도 충주시     남                2    2
             남녀공학             6    6
             녀                3    3

[579 rows x 2 columns]

시나 구 구분까지 가니까 너무 많다. 일단 도 수준에서 지역 나누자

In [13]:
raw['province'] = raw['지역'].apply(lambda x: x.split()[0])
raw['province']

0         서울특별시
1         서울특별시
2         서울특별시
3         서울특별시
4         서울특별시
         ...
2355    제주특별자치도
2356    제주특별자치도
2357    제주특별자치도
2358    제주특별자치도
2359    제주특별자치도
Name: province, Length: 2360, dtype: object

In [14]:
used_cols_locale = ['정보공시 학교코드','남녀공학 구분','province']

locale = raw[used_cols_locale]
display(locale.groupby(['province','남녀공학 구분']).count())

                  정보공시 학교코드
province 남녀공학 구분
강원도      남               20
         남녀공학            80
         녀               18
경기도      남               21
         남녀공학           428
...                     ...
충청남도     남녀공학            80
         녀               23
충청북도     남               10
         남녀공학            62
         녀               12

[51 rows x 1 columns]

### 4. 일반고, 특목고, 자율고 등 학교 유형별로

In [84]:
raw.columns

Index(['시도교육청', '지역교육청', '지역', '정보공시 학교코드', '학교명', '학교급코드', '설립구분', '학교특성',
       '분교여부', '설립유형', '주야구분', '개교기념일', '설립일', '법정동코드', '주소내역', '상세주소내역',
       '우편번호', '학교도로명 우편번호', '학교도로명 주소', '학교도로명 상세주소', '위도', '경도', '전화번호',
       '팩스번호', '홈페이지 주소', '남녀공학 구분', 'address_split', 'region_scale',
       'province'],
      dtype='object')

In [86]:
raw['학교특성'].value_counts()

일반고등학교      1561
특성화고등학교      499
특수목적고등학교     154
자율고등학교       146
Name: 학교특성, dtype: int64

In [108]:
# raw[raw['학교특성']=='특수목적고등학교']

In [96]:
raw[raw['학교명'].str.endswith('과학고등학교')]['학교명'].count()

80

In [99]:
raw[raw['학교명'].str.endswith('외국어고등학교')]['학교명'].count()

31

In [100]:
raw[raw['학교명'].str.endswith('예술고등학교')]['학교명'].count()

36

In [8]:
# 특수목적고이긴 하나 과고, 외고, 예고 아닌 학교는? => 공업고, 국제고, 마이스터고 등
raw[(raw['학교특성']=='특수목적고등학교') & (~raw['학교명'].str.contains('과학고등학교|외국어고등학교|예술고등학교'))]['학교명'].sample(3)

1568      공주마이스터고등학교
501     대구농업마이스터고등학교
2212       삼천포공업고등학교
Name: 학교명, dtype: object

In [107]:
# 특목고의 남녀공학 여부
raw[raw['학교특성']=='특수목적고등학교']['남녀공학 구분'].value_counts()

남녀공학    142
남        10
녀         2
Name: 남녀공학 구분, dtype: int64

In [110]:
# 자율고의 남녀공학 여부
raw[raw['학교특성']=='자율고등학교']['남녀공학 구분'].value_counts()

남녀공학    77
남       54
녀       15
Name: 남녀공학 구분, dtype: int64

In [115]:
raw[(raw['학교특성']=='자율고등학교') & (raw['남녀공학 구분']!='남녀공학')]

,시도교육청,지역교육청,지역,정보공시 학교코드,학교명,학교급코드,설립구분,학교특성,분교여부,설립유형,주야구분,개교기념일,설립일,법정동코드,주소내역,상세주소내역,우편번호,학교도로명 우편번호,학교도로명 주소,학교도로명 상세주소,위도,경도,전화번호,팩스번호,홈페이지 주소,남녀공학 구분,address_split,region_scale,province
10,서울특별시교육청,서울특별시교육청,서울특별시 성북구,S010000377,경동고등학교,4,공립,자율고등학교,N,단설,주간,19400416,19400416,1129011300,서울특별시 성북구 삼선동3가,50.,136043,02870,서울특별시 성북구 보문로29길 49,"(삼선동3가, 경동고등학교)",37.586200,127.014664,02-928-2353,02-926-7525,http://kyungdong.sen.hs.kr,남,"[서울특별시, 성북구, 삼선동3가]",시,서울특별시
17,서울특별시교육청,서울특별시교육청,서울특별시 동대문구,S010000384,경희고등학교,4,사립,자율고등학교,N,병설,주간,19600518,19591212,1123010800,서울특별시 동대문구 회기동,경희대길 47(이문1-3).,130080,130701,서울특별시 동대문구 경희대로 26,(이문동),37.594912,127.054904,966-3782,02-962-3643,http://www.kyungheeboy.hs.kr,남,"[서울특별시, 동대문구, 회기동]",시,서울특별시
40,서울특별시교육청,서울특별시교육청,서울특별시 동대문구,S010000407,대광고등학교,4,사립,자율고등학교,N,단설,주간,19471025,19471125,1123010100,서울특별시 동대문구 신설동,53-3번지.,130110,02581,서울특별시 동대문구 안암로 6,", 대광고등학교 (신설동)",37.577939,127.024586,02-940-2202,02-926-3197,http://www.dgh.hs.kr,남,"[서울특별시, 동대문구, 신설동]",시,서울특별시
57,서울특별시교육청,서울특별시교육청,서울특별시 종로구,S010000424,동성고등학교,4,사립,자율고등학교,N,단설,주간,19381208,19070910,1111016900,서울특별시 종로구 혜화동,90-7번지.,03083,03083,서울특별시 종로구 대학로 156,"(혜화동,동성중고교)",37.584970,127.003098,02-3671-9100,02-765-8239,http://www.dongsung.hs.kr,남,"[서울특별시, 종로구, 혜화동]",시,서울특별시
63,서울특별시교육청,서울특별시교육청,서울특별시 중랑구,S010000430,면목고등학교,4,공립,자율고등학교,N,단설,주간,19830420,19821130,1126010100,서울특별시 중랑구 면목동,30번지 .,02193,02193,서울특별시 중랑구 용마산로72길 36-14,"(면목동,면목고등학교)",37.584781,127.096719,02-435-0002,02-435-0774,http://www.mmhs.hs.kr,남,"[서울특별시, 중랑구, 면목동]",시,서울특별시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2171,경상남도교육청,경상남도교육청,경상남도 김해시,S160000511,김해고등학교,4,공립,자율고등학교,N,단설,주간,19740105,19740105,4825011700,경상남도 김해시 삼정동,267-34.,621912,50934,경상남도 김해시 활천로24번길 29,"(삼정동, 김해고등학교)",35.231298,128.896636,055-335-3306,055-321-1491,http://gimhae-h.gne.go.kr/,남,"[경상남도, 김해시, 삼정동]",시,경상남도
2188,경상남도교육청,경상남도교육청,경상남도 창원시 마산합포구,S160000546,마산고등학교,4,공립,자율고등학교,N,단설,주간,19360411,19360316,4812512800,경상남도 창원시 마산합포구 완월동,27-3.,631861,51259,경상남도 창원시 마산합포구 심온길 33,"(완월동, 마산고등학교)",35.200865,128.561723,055-240-3500,055-240-3505,http://masan-h.gne.go.kr,남,"[경상남도, 창원시, 마산합포구, 완월동]",시,경상남도
2227,경상남도교육청,경상남도교육청,경상남도 양산시,S160000618,양산고등학교,4,공립,자율고등학교,N,단설,주간,19390331,19390331,4833010400,경상남도 양산시 북부동,255.,626800,50617,경상남도 양산시 호국학도병길 2,(북부동),35.300000,129.000000,055-384-9502,055-384-9501,http://www.yangsan-h.gne.go.kr,남,"[경상남도, 양산시, 북부동]",시,경상남도
2244,경상남도교육청,경상남도교육청,경상남도 진주시,S160000660,진주고등학교,4,공립,자율고등학교,N,단설,주간,19250424,19250424,4817011400,경상남도 진주시 상봉동,987.,660050,52747,경상남도 진주시 의곡길 29,"(상봉동, 진주고등학교)",35.201002,128.080802,055-746-2613,055-746-5902,http://jinju-h.gne.go.kr/,남,"[경상남도, 진주시, 상봉동]",시,경상남도
2275,경상남도교육청,경상남도교육청,경상남도 창원시 의창구,S160000701,창원중앙고등학교,4,공립,자율고등학교,N,단설,주간,19831230,19831230,4812112800,경상남도 창원시 의창구 용호동,71.,641041,51437,경상남도 창원시 의창구 용호로 16,(용호동),35.231740,128.677927,055-239-3100,055-284-7302,http://cwjungang-h.gne.go.kr,남,"[경상남도, 창원시, 의창구, 용호동]",시,경상남도

In [15]:
raw['region_scale'].unique()

array(['대도시', '시', '읍면 지역'], dtype=object)

In [16]:
print(raw.columns)

Index(['시도교육청', '지역교육청', '지역', '정보공시 학교코드', '학교명', '학교급코드', '설립구분', '학교특성',
       '분교여부', '설립유형', '주야구분', '개교기념일', '설립일', '법정동코드', '주소내역', '상세주소내역',
       '우편번호', '학교도로명 우편번호', '학교도로명 주소', '학교도로명 상세주소', '위도', '경도', '전화번호',
       '팩스번호', '홈페이지 주소', '남녀공학 구분', 'address_split', 'region_scale',
       'province'],
      dtype='object')

In [17]:
# 학교특성, 설립구분, 도, 남녀공학 구분별 학교 수 
raw.groupby(['학교특성','설립구분','province','남녀공학 구분'], as_index=False)['정보공시 학교코드'].count()

         학교특성 설립구분 province 남녀공학 구분  정보공시 학교코드
0      일반고등학교   공립      강원도       남         13
1      일반고등학교   공립      강원도    남녀공학         42
2      일반고등학교   공립      강원도       녀         13
3      일반고등학교   공립      경기도       남          9
4      일반고등학교   공립      경기도    남녀공학        262
..        ...  ...      ...     ...        ...
273  특수목적고등학교   사립    서울특별시       녀          2
274  특수목적고등학교   사립    울산광역시    남녀공학          2
275  특수목적고등학교   사립    인천광역시    남녀공학          1
276  특수목적고등학교   사립     전라남도    남녀공학          1
277  특수목적고등학교   사립     전라북도    남녀공학          1

[278 rows x 5 columns]

In [19]:
province_coed = raw.copy()

raw.groupby(['province','남녀공학 구분'], as_index=False)['정보공시 학교코드'].count()

   province 남녀공학 구분  정보공시 학교코드
0       강원도       남         20
1       강원도    남녀공학         80
2       강원도       녀         18
3       경기도       남         21
4       경기도    남녀공학        428
..      ...     ...        ...
46     충청남도    남녀공학         80
47     충청남도       녀         23
48     충청북도       남         10
49     충청북도    남녀공학         62
50     충청북도       녀         12

[51 rows x 3 columns]

In [20]:
len(raw)

2360

### 범주형 변수 간 관계
개별 data point를 추정하는 건 불가할 것 같고, 좀 더 직접적인 성적 격차의 원인이 되는 것으로 지목된 변수(지역, 국공립 여부)과 독립적인지 의존성이 있는지를 카이제곱 검정으로 확인해보자.

In [21]:
from scipy.stats import chi2_contingency

# 설립주체와 남녀공학 여부의 상관
display(pd.crosstab(raw['남녀공학 구분'], raw['설립구분']))

chi2_contingency(pd.crosstab(raw['남녀공학 구분'], raw['설립구분']))

설립구분       공립  국립   사립
남녀공학 구분
남         167   1  235
남녀공학     1079  17  437
녀         149   0  275

(251.94313304110122,
 2.4828487336313305e-53,
 4,
 array([[238.21398305,   3.07372881, 161.71228814],
        [906.15889831,  11.69237288, 615.14872881],
        [250.62711864,   3.23389831, 170.13898305]]))

In [22]:
a = 2.4828487336313305e-53
format(a, '.60f')

'0.000000000000000000000000000000000000000000000000000024828487'

In [23]:
# 지역규모와 남녀공학 여부의 상관
display(pd.crosstab(raw['남녀공학 구분'], raw['region_scale']))

chi2_contingency(pd.crosstab(raw['남녀공학 구분'], raw['설립구분']))

region_scale  대도시    시  읍면 지역
남녀공학 구분
남             214  149     40
남녀공학          439  558    536
녀             212  160     52

(251.94313304110122,
 2.4828487336313305e-53,
 4,
 array([[238.21398305,   3.07372881, 161.71228814],
        [906.15889831,  11.69237288, 615.14872881],
        [250.62711864,   3.23389831, 170.13898305]]))

In [24]:
b = 2.4828487336313305e-53
format(b, '.60f')

'0.000000000000000000000000000000000000000000000000000024828487'

p-value가 매우 작으므로.. 남녀공학 구분-설립주체, 남녀공학 구분-지역규모 변수가 서로 독립적이라는 귀무가설을 기각